markdown==2.6.8
pypng
opencv-python
opencv-contrib-python
wheel
scikit-learn
tensorflow-gpu==1.15
keras==2.11.0
matplotlib==3.5.3
prettytable
ptable
pyyaml
pandas
numpy==1.18.5
torchvision
pillow==9.5.0
kiwisolver==1.4.5
pickle5
protobuf==3.20.3